<div class="header me-2 d-flex align-items-center"  role="navigation">
    <button class="btn btn-default link-text" [title]="'CUSTOMER.LABEL_BACK' | translate" role="button" aria-label="Back" (click)="onBack()">&lt;</button>
    <div class="d-flex vertical-line flex-column flex-grow-1">
     <span>{{screenHeader}}</span>
     <span class="sub-header" *ngIf="screenSubheader">{{screenSubheader}}</span>
    </div>
    <button class="btn btn-default link-text" (click)="onClose()" aria-label="Close" role="button">
        <span class="close-label">{{'CUSTOMER.LABEL_CLOSE' | translate}} </span>
        <span class="close-symbol">&#x2715;</span>
      </button>
 </div>
 <hr />